body {
  font-size:16pt;
  line-height:1.5em;
  font-family:"Myriad Pro", "Trebuchet MS", Helvetica, sans-serif;
  width: 32em;
  margin:4ex 0 12ex 20%;
}

em.signature {
  display:block;
  text-align:right;
}

h1 {
  line-height:1.1em;
}

div img {
  margin-top:-4ex;
}

blockquote {
  font-style:italic;
}

blockquote:before {
  content:"“";
}

blockquote:after {
  content:"”";
}

sup {
  height: 0;
  line-height: 1;
}

sup {
  bottom: 1ex;
}
blockquote em {
  font-style:normal;
}

ul {
  padding-left:0;
}

ul li {
  list-style-type: none;
}

ul.index {
  width:42em;
}

img.right {
  float: right;
  margin:0 0 1em 1em;
  border: 0px;
}

code {
	font-size:0.9em;
}